.title {
    background-image: url("https://www.masterhaus.bg/files/products/03/02/15/0302150007-1.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; }
    .title div {
        border-radius: 15px;
        padding: 2rem;
        background-color: rgba(0, 0, 0, 0.349); }
    .title h1 {
        padding-left: 3rem;
        max-width: 1300px;
        font-size: 4rem;
        margin: 0;
        color: white; }
    .title h2 {
        padding-left: 3rem;
        max-width: 1300px;
        font-size: 2rem;
        margin: 0;
        color: rgb(189, 225, 196); }



  .text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
        width: 100%; }
    .text-element {
        justify-content: center;
        color: rgb(0, 0, 0);
        padding: 3rem;
        margin: 1rem;
        font-size: x-large;
        background-color: #34e03a24;
        border-radius: 50px; }
    .text-element .btn{
        background-color: #75cc78a7;
        width: 40vh;
        border-radius: 0.5cm;
        font-size: medium;
        border: rgb(81, 77, 77);
        border-style: solid ;
        align-items: center;}
    .text-element div:hover{
        background-color: rgb(99, 241, 111);
        color: black;
    }



.content {
display: flex;
justify-content: center;
align-items: center;
height: 100vh; }


body {
margin: 0;
background-color: #fcfaf3; }