#map {
    height: 800px;
    width: 100%;
    border-radius: 64px;
  }

h2{
  text-align:center;
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url(https://media.istockphoto.com/photos/purple-defocused-blurred-motion-abstract-background-picture-id1273929462?k=20&m=1273929462&s=612x612&w=0&h=jJ0xkuDVJQMp6YwnAiqbtM8nwid36M97VIFxCP_sKCE=);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  margin: 0;
}

.bt1{
  width: 16%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, purple, #191970);
  border: 0;
  outline: none;
  border-radius: 30px;
  
  
}

.center {
  margin: 0;
  position: absolute;
  bottom: -65%;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

#all{
  left: 50px;
}
.form-box{
  width: 380px;
  height: 400px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  border-radius: 1cm;
}
body{
  background-color:grey;
  height: 100%;
  overflow-x: hidden;
}
.input-group{
  top: 65px;
  position: absolute;
  width: 280px;
}
.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right,#4CAF50, darkgreen);
  border: 0;
  outline: none;
  border-radius: 30px;
}
